* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  border: 2px solid salmon;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  color: salmon;
  display: flex;
  align-items: center;
  margin-left: 50%;
}
input {
  margin-left: 50%;
}

.card {
  display: block;
}
img {
  height: 100px;
  width: 160px;
  object-fit: cover;
  border-radius: 10px;
}

p {
  display: flex;
  max-height: 300px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 30px;
} */
/* autre façon de faire pour bien diposer les cards */
